# 临时调试文件
/.repo-payload.json
/.update-desc-payload.json
/.update-desc.ps1
/_*.mjs
/_*.ps1
/.issue-*
/.issue-body-*.ps1
/.make-issue.ps1
/.create-issue.ps1
/.add-labels*.ps1

# 平台特定
.DS_Store
Thumbs.db
node_modules/
*.log